<phpunit bootstrap="./bootstrap.php" >
    <testsuite name="Application Test Suite">
        <directory>./</directory>
    </testsuite>
    <!--
    <testsuite name="Library Test Suite">
        <directory>./library</directory>
    </testsuite>
    -->
    
    <!--
    <filter>
        If Zend Framework is inside your project's library, uncomment this filter 
        <whitelist>
            <directory suffix=".php">../../library/Zend</directory>
        </whitelist>
        
        
        
    </filter>
    -->
    <filter>
        <whitelist>
            <directory suffix=".php">../library/ZF/Entity</directory>
            <directory suffix=".php">../application</directory>
            <exclude>
                <directory suffix=".phtml">../application</directory>
                <file>../application/Bootstrap.php</file> 
                <file>../scripts/doctrine.php</file>
                <file>../application/modules/default/controllers/ErrorController.php</file>
            </exclude>
        </whitelist>
    </filter>


    <logging>
     <log type="coverage-html" target="./log/report" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="70" />
     <log type="testdox-html" target="./log/testdox.html" />
  </logging>

    
    
</phpunit>
